<footer class="footer">
    <div class="footer__wrapper">
        <ul class="footer__sitemap">
            <li class="footer__sitemap__title">En savoir plus</li>
            <li><a href="https://georiviere.readthedocs.io/en/stable/" target="_blank">Documentation</a></li>
            <li><a href="https://github.com/Georiviere/Georiviere-admin/issues" target="_blank">Signaler une erreur</a></li>
			<li><a href="https://github.com/Georiviere" target="_blank">Développement</a></li>
        </ul>


        <div class="footer__mentions">
            <a href="contact.html" class="button footer__mentions__button">Nous contacter</a>
        <div class="mentions__licence">PNR du Haut-Jura 2021 - Icons from Noun project created by :<br/> 
			Flatart, A.Latysheva, Ben Davids <br/> 
			Crédits photos : ©PNRHJ Corvus monitoring, ©PNRHJ JB Strobel, ©PNRHJ S&E. Godin <br/>
			Code sous licence OpenSource - License BSD 3-Clause<br/>Marque déposé à l'INPI (n°4691040) <br/> 
			<a href="https://github.com/Georiviere/Georiviere-admin/blob/master/docs/Georiviere-politiquemarque--1.0.pdf" target="_blank">Politique de marque</a></li>
		</div>
        </div>
    </div>
</footer>
