<aside class="logos">
    <ul class="logos__wrapper">
        <li class="logos__item">
            <a target="_blank" href="http://www.parc-haut-jura.fr/" title="Parc naturel régional du Haut-Jura">
                <img src="{{ site.baseurl }}/assets/img/pnrhjgris.svg" alt="Logo Parc naturel régional du Haut-Jura"/>
            </a>
        </li>
        <li class="logos__item">
            <a target="_blank" href="https://www.eaurmc.fr/" title="Agence de l'Eau RMC">
                <img src="{{ site.baseurl }}/assets/img/aermc.png" alt="Logo Agence de l'Eau RMC"/>
            </a>
        </li>
        <li class="logos__item">
            <a target="_blank" href="https://www.bourgognefranchecomte.fr/" title="Région Bourgogne Franche-Comté">
                <img src="{{ site.baseurl }}/assets/img/region_bfc.png" alt="Logo Région Bourgogne Franche-Comté">
            </a>
        </li>
        <li class="logos__item">
            <a target="_blank" href="https://www.auvergnerhonealpes.fr/" title="Région Auvergne Rhône-Alpes">
                <img src="{{ site.baseurl }}/assets/img/region_aura.png" alt="Logo Région Auvergne Rhône-Alpes">
            </a>
        </li>
    </ul>
</aside>